<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <title>Metasploit Module Panel</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='images/favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='images/favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='images/favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static',filename='images/favicon/site.webmanifest')}}">
</head>

<body>
    <div class="antialiased bg-white dark:bg-gray-900">
        <nav
            class="bg-white border-b border-gray-200 px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50">
            <div class="flex flex-wrap justify-between items-center">
                <div class="flex justify-start items-center">
                    Demo Metasploit Web
                </div>
                <div class="flex items-center lg:order-2">
                    <button type="button"
                        class="p-2 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
                        <span class="sr-only">View notifications</span>
                        <!-- Icon -->
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
        </nav>

        <main class="m-4 h-auto pt-20">
            <div class="mb-4">
                <section class="p-3 sm:p-5">
                    <div
                        class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between max-w-screen-xl mx-auto pb-4 ">
                        <div class="flex justify-start items-center space-x-4">
                            <form action="/" method="get">
                                <select name="type" id="type" onchange="this.form.submit()"
                                    class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                                    <option value="all" {{ 'selected' if filter_type=='all' else '' }}>
                                        All
                                    </option>
                                    <option value="auxiliary" {{ 'selected' if filter_type=='auxiliary' else '' }}>
                                        Auxiliary
                                    </option>
                                    <option value="encoder" {{ 'selected' if filter_type=='encoder' else '' }}>
                                        Encoder
                                    </option>
                                    <option value="evasion" {{ 'selected' if filter_type=='evasion' else '' }}>
                                        Evasion
                                    </option>
                                    <option value="exploit" {{ 'selected' if filter_type=='exploit' else '' }}>
                                        Exploit
                                    </option>
                                    <option value="nop" {{ 'selected' if filter_type=='nop' else '' }}>
                                        Nop
                                    </option>
                                    <option value="payload" {{ 'selected' if filter_type=='payload' else '' }}>
                                        Payloads
                                    </option>
                                    <option value="post" {{ 'selected' if filter_type=='post' else '' }}>
                                        Post
                                    </option>
                                </select>
                            </form>
                        </div>
                        <label for="table-search" class="sr-only">Search</label>
                        <div class="relative">
                            <div
                                class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <form id="autoSubmitForm" action="/" method="get">
                                <input type="text" id="query" name="query"
                                    class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Search for modules">
                            </form>
                        </div>
                    </div>
                    <div
                        class="relative overflow-x-auto max-h-screen overflow-y-auto shadow-md max-w-screen-xl mx-auto mt-4 sm:rounded-lg">
                        <table
                            class="sortable w-full text-sm  text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead
                                class="sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Type
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Name
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Full name
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Rank
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        DISCLOSURE DATE
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="moduleList">
                                {% for row in rows %}
                                <tr class="cursor-pointer bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                                    data-modal-target="static-modal" data-modal-toggle="static-modal"
                                    onclick="fetchModuleDetails('{{ row.fullname }}', '{{ row.name }}', '{{ row.rank }}', '{{ row.disclosuredate }}')">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{ row.type }}</th>
                                    <td class="px-6 py-4">{{ row.name }}</td>
                                    <td class="px-6 py-4">{{ row.fullname }}</td>
                                    <td class="px-6 py-4">{{ row.rank }}</td>
                                    <td class="px-6 py-4">{{ row.disclosuredate }}</td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>


                <div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true"
                    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-2rem)] max-h-full">
                    <div class="relative p-4 w-full max-w-2xl max-h-full">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <!-- Modal header -->
                            <div
                                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white" id="modalName">
                                </h3>
                                <button type="button"
                                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                    data-modal-hide="static-modal">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                            </div>
                            <div class="p-4 md:p-5 space-y-4 max-h-[600px] overflow-y-auto" id="modalContent">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="{{url_for('static',filename='js/sorttable.js')}}"></script>

    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>